body{
    background-color:white;
    font-family: 'Times New Roman', Times, serif
}
header{
    height: auto;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.icons{
    display:flex;
    justify-content: space-between;
    height: 50px

}
footer{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
}